body {
    background-color: green;
}
.greenDiv {
    color: white;
    background-color: green;
    font-size: 28px;
    padding: 20px;
    border: 10px solid white;
    text-decoration: underline;
    margin: 20px;
    font-family: roboto;
}
